.fixed {

}
.box {
  display: flex;
  width: 100%;
  height: 100%;
}
.next-view {
  margin-top: 50Px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.message-view {
  background-color: #aaa;
  flex-grow: 1;
  width: 100%;
}
.send-view {
  background-color: #f6f6f6;
  flex-grow: 0;
  width: 100%;
}
